<div class='row'>
  <div class='col-md-8'>
    <h1>Scrambling</h1>
    <p class="justify">
      Scrambling is half way between rock climbing and hiking, and can be thought of as easy rock climbing (although some bits
      can be quite challenging) without ropes, normally on rocky aretes or ridges.
    </p>
    <p class="justify">
      On some weekends there might be an opportunity to do some easy scrambles, for example in the Lakes or Snowdonia.
      More information about scrambling can be found on the bible of life that is
      <a href="http://en.wikipedia.org/wiki/Scrambling" target="_blank">Wikipedia</a>.
    </p>
  </div>
  <div class='col-md-4'>
    <img src="/assets/scrambling2.jpg" alt="Scrambling on Ben Nevis, Scotland 07" class="center-block" style="max-width: 100%;"/>
  </div>
</div>

