
<h1>Expeditions 2013  </h1>
<p>It may not be summer yet but it's time to start planning so have a look at the amazing trips that we've have got going on so you can get involved and make sure you keep the dates free!</p>

  
<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
      <p>
        <h2>Norway</h2>
        <strong>Dates: </strong>25th June - 6 July<br>
        <strong>Activities:</strong> Hiking, Trekking, Camping <br>
        <strong>Cost:</strong> &#163;800  (estimated) <br>
        <strong>Organiser:</strong> Tom
          (<a href="mailto:am9202@bristol.ac.uk"></a>)<br>
        <strong>More Details:</strong>
      </p>
      </div>
      <div class='col-md-4'>
        <img src="/assets/images/expeditions/norway09.jpg" alt="Norway this dont work" class="center-block" style="max-width: 100%;"></span>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
        <p>
          <h2>Corsica GR20</h2>
          <strong>Dates: </strong>25th August - 11th September<br>
          <strong>Activities:</strong> Hiking, Scrambling, Climbing! <br>
          <strong>Cost:</strong> Approximately &#163;400 <br>
          <strong>Organiser:</strong> Steve 
            (<a href="mailto:nm9450@bristol.ac.uk"></a>)<br>
          <strong>More Details:</strong>
        </p>
      </div>
      <div class='col-md-4'>
        <img src="/assets/images/expeditions/corsica3.jpg" alt="corsica there is" class="center-block" style="max-width: 100%">
      </div>
    </div>
  </div>
</div>
<br>
<h1>Expeditions 2012  </h1>
<p>What a Summer! See where we went in 2012</p>

<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
        <p>
          <h2>Iceland</h2>
          Volcanoes, Waterfalls and Glaciers, a 55km trek through southern Iceland 
        </p>
        <p>
          <a href="<%= page_path("summertrips/iceland") %>">
            Click here
          </a>
          for a detailed trip report.
        </p>
      </div>
      <div class='col-md-4'>
       <a href="<%= page_path("summertrips/iceland") %>">
        <img src="/assets/images/expeditions/Iceland12/Icelands_12_01.jpg" alt="ICELAND!" class="center-block" style="max-width: 100%">
       </a>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
        <p>
          <h2>Slovenia</h2>
          September 2012 saw ten highly enthusiastic ubesters travel to slovenia for 2 weeks of backpacking, scrambling, mountaineering in the julian alps
        </p>
        <p>
          <a href="<%= page_path("summertrips/slovenia") %>">
            Click here
          </a>
          for a detailed trip report.
        </p>
      </div>
      <div class='col-md-4'>
       <a href="<%= page_path("summertrips/slovenia") %>">
        <img src="/assets/images/expeditions/slovenia.jpg" alt="Slovenia!" class="center-block" style="max-width: 100%">
       </a>
      </div>
    </div>
  </div>
</div>


