<div class='row'>
  <div class='col-md-6'>
    <h1>What To Bring </h1>
    <p>
      UBES have plenty of kit to borrow, but you should try and bring the following on a weekend expedition...</p>
    <p>
    <ul>
      <li>Sleeping  Bag</li>
      <li>Day  rucksack</li>
      <li>Walking  Boots</li>
      <li>Waterproof  jacket and trousers</li>
      <li>Plastic  survival bag (This is <strong>very important</strong>, you can buy these off us for about  3 pounds)</li>
      <li>Warm  clothes</li>
      <li>Walking trousers (<strong>not</strong> jeans)</li>
      <li>Water  bottle (a plastic coke bottle will be okay)</li>
      <li>Any  climbing gear you have </li>
      <li>Change  of clothes for evening</li>
      <li>Hat and Gloves</li>
      <li>First aid kit</li>
      <li>Head Torch</li>
      <li>Extra munchies + emergence food rations</li>
      <li> Alcohol (Beer/cider/whisky/vodka)</li>
      <li>Items  of fun and amusement for evenings</li>
      </ul>
    </p>
  </div>
  <div class='col-md-6'>
    <img src="/assets/images/expeditions/kit.jpg" alt="Dinosaur Kit?" style="center-block" />
  </div>
</div>
