<h1>Where We Go </h1>
<p class="justify">
  Every other weekend we go off to some amazing part of the country to check it out, see what's hangin
  and generally big each other (and nature) up. These trips also involve an unnatural   amount of hiking,
  climbing, scrambling and the etc.
  Previous trips have featured none other than:
</p>

<h2>Lake District</h2>
<p class="justify">
  The Lake District is fantastic. We go here at least once in the second term and then again in the Summer
  term when we camp by Windemere for our AGM over the May day bank holiday weekend.Good climbing opportunities,
  and amazing hikes and views. There's normally a backpacking trip run here at some point as well, this year
  it was at the start of December in the first term.
</p>
<img src="/assets/images/expeditions/lakes.jpg" alt="Lakes" class="center-block"/>

<h2>Snowdonia</h2>
<p class="justify">
  There's loads to do in Snowdonia, though Geographers, and  Earth Scientists try not to get too excited here
  if you're into your glacial formations. We normally run either one or two trips here in the first term,
  depending upon how popular it is.
</p>
<img src="/assets/images/expeditions/snowdonia.jpg" alt="Snowdonia" class="center-block" />

<h2>Brecon Beacons</h2>
<p class="justify">
  The Brecon Beacons trip normally takes place at the start of the first term as it's not too far away, isn't too
  adventurous, and has a great bunkhouse we stay in for getting to know new comers. We also do some climbing in a
  random quarry near by.
</p>
<img src="/assets/images/expeditions/breconbeacons.jpg" alt="Brecon Beacons" class="center-block" />

<h2>Peak District</h2>
<p class="justify">
  There is brilliant climbing available in Stanage, Burbage and Bamford as well as good walks around the Kinder
  Scout area. Often we go here for a mainly climbing trip some time in the second term.
</p>
<img src="/assets/images/expeditions/peaks.jpg" class="center-block"/>

<h2>Cader Idris </h2>
<p class="justify">
  Bit closer than Snowdonia. Lots of fun hiking in the hills here, and obviously a trip to the beach is in order
  when the weather turns crap. Which it often does in the UK.
</p>
<h2>Dartmoor</h2>
<p class="justify">
  Not as glamarous as some of the more mountainous regions of the UK, but occasionally we drive down here to bag
  Tors, climb rocks and pet ponies. Good place for nav. practice if you're training for your ML or into that kind 
  of thing. 
</p>
<!-- <h2>Yorkshire Dales </h2>
<p class="justify">3 peaks? </p> -->
<h2>Portland</h2>
<p class="justify">
  Big climbing location. Plenty of sport climbing (or so I'm told - not been there personally) when the weather is
  nice - which it wasn't at all this year!
</p>
<h2>Cairngorms</h2>
<p class="justify">
  One of two different regions of Scotland we go to on a regular basis. Characterised by dome shaped snowy mountains
  (ask a Geographer for a more technical explanation). Chance to bag the 2nd-&gt;6th highest UK peaks (Ben Macdui,
      Braeriach, Cairn Toul, Sgoran Lochain Uaine, Carin Gorm seeing as you asked). Good winter climbing available too.
</p>
<h2>Glen Coe</h2>
<p class="justify">
  Our other Scottish destination of choice. We tend to rotate between the two on an annual basis. The Ben isn't that
  far away, and there are plenty of great routes on the ridges and peaks around.
</p>
<h2>Mendips</h2>
<p class="justify">
  We don't really go here for a weekend, instead it's a day, held in November, of racing round the Mendip hills in
  teams doing tasks with the aim of being crowned King and Queen of the Mendips. Afterwards we have a black tie ball/
  I mean house party. And then leave the house early in the morning as quickly as possible to avoid the clean up.
</p>

