<h1>Lake Bagging</h1>
<p style="margin-top: 40px;">
  <img src="/assets/lakebagging2.jpg" alt="Lake Bagging in Scotland at 2 degrees" class="center-block"/>
</p>
<h2>The Rules</h2>
<p class="justify">
  We are currently in season 13/14. Thus all bags done at the moment count towards this year's awards. The
  rules of Lake Bagging are as follows:
</p>
<ol>
  <li>You must be fully submerged in the lake to get one point</li>
  <li>You get double points for breaking ice or getting FULLY naked (thus x4 points if you do both)</li>
  <li>You can only bag bodies of natural water named on a 1:25,000 map, not the sea or rivers or swimming pools</li>
  <li>Only one bag per lake per season</li>
  <li>The Lake Bagging season runs from 1st October until the Saturday night of the Lakes AGM in May the following year</li>
  <li>Bonus points can be awarded for occasional heroics (committee decision final) </li>
  <li>Only Lakes bagged on official UBES Trips count  </li>
</ol>
<p class="justify">
  Still to be confirmed, awards will be given out for:
</p>
<ol>
  <li>Highest points total</li>
  <li>Highest altitude lake bag </li>
</ol>
<p class="justify">
  Please send in all funny lake bagging photos to help encourage others to join the fastest growing UK sport.
</p>

<h2>Quick Guide </h2>
<ul>
  <li>Step one: Choose your lake carefully; stay away from young children, policemen, and the infirm.</li>
  <li>Step two: Choose your lake bagging companion carefully; avoid men with binoculars, zoom lens or anoraks.</li>
  <li>Step three: Take your clothes off; how is up to you &ndash; find a nice rock to get changed behind or just fling them off whilst running down the hillside.</li>
  <li>Step four: Remain calm and collected and go for a leisurely swim, whilst keeping the screeching at a minimum. Extra points for distance.</li>
  <li>Step five: Exit the lake before hypothermia sets in. </li>
  <li>Step six: Submit your lake bag using <a href="<%= page_path("funstuff/lakebagging_submit") %>">this form.</a> </li>
</ul>

<h2>Current Season: 2013-2014</h2>
<p class="justify">
  The 2013/2014 season has already got off to a flying start 22 points being snapped up on one walk! So if you want to
  be crowned lake bagging champion this year then you need to jump in some lakes, and fast!
</p>
<p class="justify">
  To submit your Lake Bagging efforts please fill in <a href="<%= page_path("funstuff/lakebagging_submit") %>">this form.</a>
</p>

<div class="responsive-video">
  <iframe frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Ak2IBLqxuNYpdDlpVjVSSDkzQlNmREl3NHFhRHh1TFE&output=html&widget=true'></iframe>
</div>


<h2>2012-2013</h2>
<p class="justify">
  2012/2013 was a ground breaking season for lake bagging. It was obvious from early on that it was going to
  be a two horse race between Dom and Joel, but no one could have predicted Dom's final score of 30!!! Congratulations Dom!
  Any other year, Joel would have eased to victory with his 2nd place score of 18.
</p>

<div class="responsive-video">
  <iframe width='750' height='300' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AvDCcw3P67ACdE92NmJKOXRIZGIteXAtT1NJekdXamc&output=html&widget=true'></iframe>
</div>
<h2>2011-2012</h2>
<p class="justify">
  The 2011-12 Lake Bagging Champion was Adam Henry. Congratulations to him! The Lake Bagging was affected
  by a warm winter meaning that very few bags included breaking ice so the shear quantity of lakes won it!
</p>
<div class="responsive-video">
  <iframe width='750' height='300' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AvDCcw3P67ACdDQ4QUhnX3hVQmROSXVaRUxqR25jM2c&single=true&gid=0&output=html&widget=true'></iframe>
</div>



<h2>2010-2011</h2>
<p class="justify">
  The 2010/11 results were accidentally sent to a supposedly 'safe' location in London but were lost
  in the Riots in August 2011. A &#163;10,000 reward has been put out for their return but, alas, as
  of yet nothing has been recovered. We live in hope&#8230;
</p>

<h2>2009-2010</h2>
<p class="justify">
  The 09/10 season ended off with a last day fight off between Izzy and Chris that ended in a tie! A shocking
  result after Izzy's lead for most of the year!
</p>
<table width="75%" border="0" align="center" cellpadding="3" cellspacing="0">
  <thead>
    <tr class="tableheadertext">
      <th bgcolor="#0099FF">Pos</th>
      <th bgcolor="#0099FF">Name</th>
      <th bgcolor="#0099FF">Lake</th>
      <th bgcolor="#0099FF">Naked?</th>
      <th bgcolor="#0099FF">Ice?</th>
      <th bgcolor="#0099FF">Points</th>
      <th bgcolor="#0099FF">Total Points</th>
    </tr>
    <tr>
      <th><span class="tablebodytext">1.</span></th>
      <th>Izzy</th>
      <th>Devil's Kitchen</th>
      <th>No</th>
      <th>No</th>
      <th>1</th>
      <th>13</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Loch Akraig</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>
        Lochan Meall an t-suidhe</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Loch Lochy</th>
      <th>Yes</th>
      <th>No</th>
      <th>2</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Llyn Cau</th>
      <th>No</th>
      <th>Yes</th>
      <th>2</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>2.</th>
      <th>Cat O</th>
      <th>Devil's Kitchen</th>
      <th>No</th>
      <th>No</th>
      <th>1</th>
      <th>11</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Loch Akraig</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Lochan Meall an t-suidhe</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Loch Lochy</th>
      <th>Yes</th>
      <th>No</th>
      <th>2</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>2.</th>
      <th>Cat B</th>
      <th>Devil's Kitchen</th>
      <th>No</th>
      <th>No</th>
      <th>1</th>
      <th>11</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Loch Akraig</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Lochan Meall an t-suidhe</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Loch Lochy</th>
      <th>Yes</th>
      <th>No</th>
      <th>2</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>3.</th>
      <th>Andy Coleman</th>
      <th>Loch Akraig</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>10</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Lochan Meall an t-suidhe</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Loch Lochy</th>
      <th>Yes</th>
      <th>No</th>
      <th>2</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>4.</th>
      <th>Chris Stafford</th>
      <th>Styhead Tarn</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>8</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Llyn Cau</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>5.</th>
      <th>Adam</th>
      <th>Llyn Cau</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>4</th>
    </tr>
    <tr>
      <th>5.</th>
      <th>Alex Wilkinson</th>
      <th>Styhead Tarn</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>4</th>
    </tr>
    <tr>
      <th>5.</th>
      <th>Rob WM</th>
      <th>Styhead Tarn</th>
      <th>Yes</th>
      <th>Yes</th>
      <th>4</th>
      <th>4</th>
    </tr>
    <tr>
      <th>6.</th>
      <th>George Cave</th>
      <th>Crummock Water</th>
      <th>No</th>
      <th>No</th>
      <th>1</th>
      <th>1</th>
    </tr>
    <tr>
      <th>6.</th>
      <th>Katie Shepherd</th>
      <th>Crummock Water</th>
      <th>No</th>
      <th>No</th>
      <th>1</th>
      <th>1</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
</table>
<img src="/assets/lakebagging.gif" alt="Lake Bagging in Scotland at 2 degrees" class="center-block"/>
