
<h1>Socials</h1>
<p>
<img src="/assets/uv_social.jpg" alt="Socials!" style="float:right; width: 50%;"/>
  Aaaaah, SOCIALS! Lucie and Hugo have taken over the roles of UBES Social Secs this year, organising a series
  of epic socials and events throughout the year...So far we've had some massive bar crawlage with a global theme,
  blown each other up at lazer quest, had one epic black tie house party and had a damn good stuffing at the
  UBES Christmas meal. Stay tuned for next term's events and perhaps some photos too, Yay!
</p>
<p>
UBES organises lots and lots of socials throughout the year,  such as:
</p>
<ul>
  <li> House parties</li>
  <li>Pub crawls</li>
  <li>Comedy night</li>
  <li>Laser quest</li>
  <li>Pancake party</li>
  <li>Curry nights</li>
  <li>Ice Skating</li>
  <li>Pub golf</li>
</ul>
<p>
  Take a look at our calendar for more information
</p>
<p>
  We also drink at the Highbury Vaults every Wednesday. It is next to Co-op on St. Michaels Hill. You'll
  usually find UBESters sitting in the garden, from around 9pm.
</p>
<img src="/assets/alpine_social2.gif" class="center-block" />


