<h1>How to Join</h1>
<p class='justify'>
Interested in joining? Our membership fee for the year is £12, and, unlike most of the other UOB sports clubs, you don’t need to additionally join the Athletics Union, which is pricey. 
</p>

<p class='justify'>
Membership gets you:
  <ul>
    <li>Access to all club kit</li>
    <li>Great discounts at outdoor and climbing shops, including Cotswolds Outdoor</li>
    <li>Trip insurance</li>
    <li>And, most importantly, access to trips!</li>
  </ul>
</p>

<p class='justify'>
You can join at the Freshers’ Fair in Welcome Week, or alternatively by visiting the UBU website, where you can pay membership and sign up to our mailing list:
</p>

<p class='justify'>
Any questions? Email us at <a href="mailto:ubes-committee@bristol.ac.uk">ubes-committee@bristol.ac.uk</a>
</p>
