
<h1>Links</h1>
<h2>Kit</h2>
<ul>
  <li><a href="http://www.tauntonleisure.com/" target="_blank" _target="blank">Taunton Leisure</a> - Quality       outdoors shop in Bedminster for which we get 20% on kit evenings off</li>
  <li><a href="http://www.nomadtravel.co.uk/" target="_blank" _target="blank">Nomad Travel</a> - They have a shop on Park Street.   	Good for vaccinations</li>
  <li><a href="http://www.rockrun.com/" target="_blank" _target="blank">Rock + Run</a> - Kept well up-to-date, good for all kit</li>
  <li><a href="http://www.kathmandu.co.uk/" target="_blank">Kathmandu</a> - Just off the Triangle opposite Wills Memorial Building </li>
  <li><a href="http://www.rohan.co.uk/" target="_blank">Rohan</a> - On the triangle few doors down from Sainsburys </li>
</ul>
<h2>Planning an Overseas Expedition</h2>
<ul>
  <li><a href="http://www.fco.gov.uk/travel" target="_blank" _target="blank">Government Travel Advice</a> - Just to check your   	country of preference hasn't been blown up</li>
  <li><a href="http://vis.apmsd.co.uk/" target="_blank" _target="blank">Vaccine Infomation Service</a> - is what the NHS use to see what vaccines you need</li>
  <li><a href="http://www.climatecare.org/" target="_blank" _target="blank">ClimateCare.org</a> - going on a plane, offset your emissions with their schemes</li>
</ul>
<h2>Other Climbing/Mountaineering Clubs</h2>
<ul>
  <li><a href="http://www.ubu.org.uk/activities/sports/7113/" target="_blank" _target="blank">University of Bristol Mountaineering Club</a> - Mostly a Climbing Society</li>
  <li><a href="http://www.bris.ac.uk/Depts/Union/Explorers/" target="_blank" _target="blank">University of Bristol Explorers Club</a> -   	Do more walking kind of things and tend to stay in Youth Hostels rather than camp.</li>
  <!--<li><a href="http://www.luhc.org.uk/links_clubs.php" target="_blank" _target="blank">Loads of other UK University's Hiking/Climbing Societies</a> - Provided by Lancaster Uni Hiking Club</li>-->
  <li><a href="http://www.thebmc.co.uk/" target="_blank" _target="blank">British Mountaineering Council</a></li>
  <li><a href="http://www.rgs.org/OurWork/Fieldwork+and+Expeditions/" target="_blank" _target="blank">Royal Geographical Society</a> - They do BIG expeditions</li>
</ul>
<h2>Links of Outstanding Merit</h2>
<ul>
  <li><a href="http://www.wildernesslectures.com/" target="_blank" _target="blank">Wilderness Lectures</a> - Series of public lectures held in Bristol</li>
  <li><a href="http://www.animatedknots.com/" target="_blank" _target="blank">Animated Knots</a> - Rope work a bit dusty? Go here, it's an amazing site</li>
</ul>
<h2>Walking</h2>
<ul>
  <!--<li><a href="http://www.uhn.org.uk" target="_blank" _target="blank">University Hiking Network</a> - Has a good       catalogue of hills to bag</li>-->
  <li><a href="http://www.lakedistrictwalks.com/" target="_blank" _target="blank">Lake District Walks</a></li>
 <!-- <li><a href="http://members.aol.com/hikenet/" target="_blank" _target="blank">Hikenet</a> - American hiking pages, pics, stories, weather</li>-->
  <li><a href="http://www.mountainbothies.org.uk/" target="_blank" _target="blank">Scottish Mountain Bothies Association</a></li>
  <li><a href="http://www.mountaineering.ie/" target="_blank" _target="blank">Mountaineering Council of Ireland</a></li>
  <li><a href="http://www.outdoorsmagic.com/" target="_blank" _target="blank">OutDoorsMagic.com</a> - Slightly random outdoors site</li>
  <li><a href="http://www.routecards.co.uk/" target="_blank" _target="blank">Route cards</a> - Database of walking routes, mainly around Yorkshire</li>
</ul>
<h2>Climbing</h2>
<ul>
  <li><a href="http://www.ukclimbing.com/" target="_blank" _target="blank">UK Climbing Pages</a> - Has an Exciting       forum</li>
  <li><a href="http://www.sais.gov.uk/" target="_blank" _target="blank">Scottish Avalanche Information Service</a></li>
</ul>
<h2>Ice Climbing - coz it's cool</h2>
<ul>
  <li><a href="http://www.cs.berkeley.edu/%7Eqtluong/mountain/index.html" target="_blank" _target="blank">Tuan's Mountaineering Page</a> -   	has some cool ice climbing photos</li>
  <li><a href="http://www.ice-fall.com/" target="_blank" _target="blank">Ice-Fall</a> - Learn some French for this page</li>
</ul>

