<h1> About UBES </h1>

<p class="justify">
UBES is probably the largest, certainly the most active, and unquestionably the BEST outdoors society at the University of Bristol. We run regular weekend trips hiking, scrambling, climbing and mountaineering all around the UK; in a year, we might visit the Lake District, Snowdonia, the Peak District, the Brecon Beacons and the Yorkshire Dales, to name a few. The fun doesn’t stop during the holidays; at Christmastime, UBES runs a weeklong trip to Scotland for winter mountaineering and ice climbing, and, during the summer, in addition to sending out an Alps cohort, we run several longer expeditions, which in the last few years have taken us to Morocco, Romania, Norway, Corsica, Iceland and the Pyrenees.
</p>

<img src="/assets/static/about_1.jpg" style="float: right; width: 30vw; margin-left: 15px; padding: 5px;"/>

<p class="justify">
During term time, UBESters gather at our weekly climbing sessions, regular pub trips and awesome socials. There’s always something going on! So, whether you think you’d like to get involved in the lively Bristol climbing scene, have mountaineering aspirations, or just love the outdoors and want to meet friendly, adventurous, like-minded people, the University of Bristol Expeditions Society is the one to join! We welcome people of all abilities; don’t worry if you have little or no experience, we’d love to meet you. Get involved - participation is only limited by how much you can squeeze in around your lectures!
</p>

<p class="justify">
Our society strives to be affordable, inclusive and exciting, so make sure you don't miss out!
</p>

<p class="justify">
We also showcase some of our photography on our flickr account at <a href="https://www.flickr.com/groups/ubes/">https://www.flickr.com/groups/ubes/</a>
</p>

<p class="justify">
Alternatively follow us on Facebook for exciting bite-size updates: <a href="https://www.facebook.com/bristolexpeditions">https://www.facebook.com/bristolexpeditions</a>
</p>

</br>
</br>

<div style="text-align: center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/b6Jn4jA_S3Y" frameborder="0" allowfullscreen></iframe>
</div>
