<h1>UBES Calendar</h1>

<div id="calendar"></div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('#calendar').fullCalendar({
  // put your options and callbacks here
  header: {
    left: 'prev,next today',
    center: 'title',
    right: 'month,agendaWeek,agendaDay'
  },
  events: 'https://www.google.com/calendar/feeds/ubescommittee%40gmail.com/public/basic'
  })
});
</script>
