<h1>Scotland 2008</h1>
<p class="justify">
  <img src="/assets/expeditions/scotland08_clip_image002.jpg" style="float:right; margin-left:20px" />
  Saturday morning, very early, saw 2 landrovers and  several cars set off from the Union on the long drive up to Scotland.
  Several hours later we all arrived at the bunkhouse in Glencoe, excitable and full  of energy! The bunkhouse was warm, cosy
  and had an open fire in the living  room- perfect for a week of Scottish adventures!
  <a href="http://www.glencoehostel.co.uk">http://www.glencoehostel.co.uk</a>
</p>
<p class="justify">
  The first two days for most people  were spent on a Winter Skills course. Here we learnt all about crampons (and  how easy
  it was to rip shiny waterproofs with them), ice axes and generally how  to walk safely in snowy conditions. Meanwhile, the
  seasoned pros within UBES  went off on their various walks and climbs, and met us back at the bunkhouse in  the evenings.
</p>
<p class="justify">
  <img src="/assets/expeditions/scotland08_clip_image004.jpg" style="float:left; margin-right:20px"/>
  The rest of the week was  spent walking and climbing in groups, with several people bagging their first Munroe&rsquo;s, and a
  few doing their first winter climbs. <a href="<%= page_path("funstuff/dougspoem") %>">Doug</a>, Alex, Harry and  Gareth
  established themselves quickly as the climbing contingency, but they  also took along a few keen UBESters who had yet to
  discover the delights of  winter climbing. Those that weren&rsquo;t climbing headed out on walks and several  Munroes were
  conquered. Amongst the climbing and the walking we also managed  to fit in an overnight camp which most people would describe
  as the wettest  and coldest night of their lives, and a practice river crossing. Of course,  some people were sensible enough
  not to partake in these slightly crazy  activities...but I&rsquo;d still do them again!
</p>
<p class="justify">
  Several people spent a day at the nearby ice-factor  indoor climbing centre, where they experienced ice-climbing indoors under
  the  tuition of an instructor, and there was a dry tooling area there as well as the  standard climbing facilities you&rsquo;d
  expect to find at a normal wall.
</p>
<p class="justify">
  Each evening we cooked communally  and warmed up in our cosy living room. But Thursday night has to have a special  mention for
  our superb Christmas Dinner, followed by lots of fun games such as  body twister, the
  <a href="http://www.lolcats.com/">saucer game</a> and the  mini
  <a href="http://www.facebook.com/photo.php?id=512909121&amp;pid=2172037#/profile.php?id=193111322&amp;ref=ts">rave</a>
  which we held in the dining room after dinner!
</p>
<p class="justify">
  <img src="/assets/expeditions/scotland08_clip_image006.jpg" style="float:right; margin-left:20px" />Friday was forecast to have
  hurricane winds and a white out by midday, so most people planned to spend the  day at the indoor climbing centre. However during
  the Christmas party on  Thursday night Doug, Piotr, Harry and I formed an epic plan to get to the top  of Ben Nevis and back down
  again before the  weather could hit. So at 5am we set off and by 8am we were at the top. We were  back at the bunkhouse before the
  weather was too bad...and then it was  definitely time for an afternoon nap!<br />
  Even after a week of snowy  activities some of us still managed a cheeky lake bag in Loch Lomond on the way home before falling
  asleep for the rest of the  journey!
</p>
<p class="justify">
  A big thanks must go out to  all the drivers for getting us there and back, to everyone who helped with the  cooking and cleaning,
  and of course to Laurence and Amy for organising such an  awesome trip!
</p>
