<h1>Scotland 2012</h1>

<img alt="Scotland 2012" src="/assets/expeditions/Scotland/Scotland_Banner_12.jpg" class="center-block"/>

<p class="justify">
  On the 15th of December, still recovering from the term just ended, UBEs members prepared to take the party up north,
  to the snowy Scottish highlands. This involved a seemingly unnecessary early start and a lot of singing (and driving),
  before we arrived at the bunkhouse in Fort William.
</p>
<p class="justify">
  <img src="/assets/expeditions/Scotland/Scotland_image_12_01.jpg" style="float:left; margin-right: 20px"/>
  For the first two days, most of the group took part in a winter skills course, while those who had already done the
  course used the time to summit as many Munros as possible. On Winter Skills, we practiced useful things like cutting
  precise squares of snow as quickly as possible, pretending to be seals doing ice axe arrest, and bum sliding (which
  came more naturally than walking to some of us).  Our new mountain professionalism was tested in Ben Nevis gully 4 on
  the first day, and even more so on Beinn aChaorainn on the second, when one of the group sprained their ankle at
  the beginning of a long, steep descent. The survival bags came in useful at this point, when we were forced to invent
  a kind of sit-in stretcher-slide (although the survival bag in question was a bit worse for wear afterwards). We felt
  like intrepid explorers when we finally arrived back by headtorch-light in the dark. The two days had been a fun and
  eventful initiation to the Scottish mountains.
</p>
<p class="justify">
  Some of the group had not yet had enough of The Ben, returning to the area on Tuesday to tackle the CMD arête. The rest
  of the walkers ascended the unpronounceable Buachaille Etire Mor, to beautiful sunshine and stunning views at the summit.
  There was also a brilliantly placed gully for bum sliding on the descent.
</p>
<p class="justify">
<img src="/assets/expeditions/Scotland/Scotland_image_12_04.jpg" alt="What a view" style="float:right; margin-left: 20px"/>
  In the evening, the standard UBEs meal of slop was replaced with a delicious Christmas roast, to which everyone
  contributed and enjoyed. UBEs Christmas merriment followed, with Secret Santa producing some interesting presents (and
  ingenious wrapping), including a Viking helmet which was proudly worn on many summits by Sam. The night ended with a
  bang, as evidenced by the photos (note the presence of the spectacular UBES Christmas tree).
</p>
<p class="justify">
  The next day, the rest day, involved a fruitless search for a Wetherspoons in Fort William town centre, which, it turns
  out, had yet to be built. The afternoon was marginally more productive, spent bowling/bouldering/sleeping. That evening,
  cooking was delayed due to a fire hazard and a wall having to be knocked through
</p>
<p class="justify">
  The beautiful weather on Tuesday didnt last the full week, unfortunately, and the last two days involved some
  authentically wet and windy walks (although we were repeatedly assured by the older members that it was nowhere near
  as bad as previous years).
</p>
<p class="justify">
  The weather didnt affect our spirits, however, and on Friday an over-enthusiastically early start meant that we
  had to wait in the car park in the dark for half an hour, waiting for the sun to rise. Despite this, the Balachulich
  horseshoe proved to be spectacular and one of the highlights of the week.
</p>
  <img src="/assets/expeditions/Scotland/Scotland_image_12_06.jpg" class="center-block"/>
<p class="justify">
  The combination of walking, climbing, scrambling, bouldering, dry-tooling, pick-axing, lake bagging and bum sliding
  meant that we were all exhausted (good exhausted) and ready to go home by Friday (luckily, we had the whole of the
  Christmas holidays to recover). It was a brilliant week, and here is a photo of everyones happy faces to
  prove it:
</p>
<img src="/assets/expeditions/Scotland/Scotland_image_12_07.jpg" alt="What a view" class="center-block"/>
<p class="justify">Thank you to Tom, Steve, Louise and the team for organising the trip!</p>

