/*
 * CUSTOM CSS STYLES 
 */

html {
  background-color: #e4eaf2;
    min-height: 100%;
    position: relative;
}
body {
  background-color: #e4eaf2;
    margin-bottom: 60px;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
p.justify{
  text-align: justify;
}
img{
  max-width: 100%;
}
#header_image {
  width: 100%;
}
#page{
  background-color: #e4e4e4;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px;
  border-color: #dddddd;
  padding: 40px 40px 40px 40px;
  min-height: 100%;
}
#content{
  width: 100%;
  min-height: 100%;
  background-color: white; 
  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px;
  border-color: #dddddd;
  padding: 40px 40px 40px 40px;
}
.carousel{
  padding: 40px 0px 0px 0px;
}
.carousel-control{
  position:absolute;
  top: 45%;
  background-image: none !important;
}



.person{
    width: 100%;
    /* min-height: 180px; */
    padding: 3vw;
}
.committee-photo{
    float: left;
    min-width: 16vw;
}
.committee-desc{
    /* min-height: 160px; */
    padding: 5px;
}

.mugshot{
    height: auto;
    width: 15vw;
}