<img src="/assets/expeditions/Iceland12/Icelands_Banner.jpg" alt="Icelands Summer 2012" style="max-width: 100%;" class="center-block"/>
<p>
  To kick off the summer, 10 adventurous ubesters travelled to iceland to tackle the famous laugavegur trail.
  Winding through the volcanic hills of southern Iceland, this venture takes in some breathtaking scenery along
  its 55km route. With no luxury of resupply, rucksacks consisted mainly of copious amounts of food to see everyone
  through the following 5 days.
</p>
<img src="/assets/expeditions/Iceland12/Icelands_12_01.jpg" alt="Bleak Beauty" style="max-width:100%; float:left"/>
<p>
  Starting at Landmannalaugar, the first couple of days took in the desolate landscape of the highest part of the trail.
  Featuring numerous natural steam vents, rolling hills of ash, and large areas of consolidated snow, it was almost otherworldly
  trekking through such impressive surroundings. Following a chilly night of camping at 1100m, some ice caves were visited along
  with the largest steam vent on the island, before the halfway point beside a tranquil lake was reached.
</p>
<p>
  The remaining two days followed the trail down towards sea level, and included a variety of river crossings, imposing
  free-standing mountains, and even some woodland in the final section. By the time we reached the trail end at Thórsmörk our
  bags were noticeably lighter, and even the rudimentary shop was a luxury at this stage.
</p>
<p>
  After this came the spectacular Fimmvörðuháls trail. Traversing the pass connecting the Eyjafjallajökull volcano 
  (widely known for defiling the European atmosphere with ash in 2010) with the greater Mýrdalsjökull glacier, the
  route is if anything even more magnificent than the previous trail. Following an aesthetic ridge up to the pass,
  the summit of the trail featured still-warm ash from the last eruption. The descent followed the Skoga river, and
  boasting no less than 23 waterfalls as it wound down to the coast, the best was saved until last with the imposing
  70 metre Skógafoss towering above the final campsite at Skógar.
</p>
<img src="/assets/expeditions/Iceland12/Icelands_12_02.jpg" alt="Water Wonder" style="max-width:100%; float:right"/>
<p>
  The second half of the trip was based in Skaftafell, Icelands most frequented national park. With breathtaking
  surroundings, the days spent here ranged from sunbathing to alpine mountaineering. Excursions included a gorgeous
  day-walk up the local summit Kristinartindar, gorge scrambling along the lovely valley of Bæjarstaðarskógur, and a
  trip to the Jökulsárlón glacial lagoon. An attempt on Hvannadalshnúkur (2110m), Icelands highest peak, was also
  made, but unfortunately this has to be abandoned at 1900m due to the crevasses having opened up too much.
</p>
<p>
  And then came the lake bag Icelandic style. With basically super-cooled water, the normal naked submersion in a
  glacial lake introduced nerve endings to a shock that they didnt know existed. Not only was this followed by
  a swim through the frigid waters, but also an excursion onto the nearest iceberg. Now had it been in season, that
  would have been a high scoring lake bag.
</p>
<p>Overall an amazing trip thanks to Amy for making it happen!</p>
