<a href= <%= page_path('home') %> > <%= image_tag image_path("banner.png"), id: "header_image" %></a>
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class=" <%= 'active' if params["id"] == "home" %>"><a href="<%= page_path("home") %>">Home</a></li>
        <li class=" <%= 'active' if params["id"] == "join" %>"><a href="<%= page_path("join") %>">Join Us</a></li>
        <li class=" <%= 'active' if params["id"] == "about" %>"><a href="<%= page_path("about") %>">About UBES</a></li>
        <li class=" <%= 'active' if params["id"] == "committee" %>"><a href="<%= page_path("committee") %>">Committee 2015/16</a></li>
        <li class=" <%= 'active' if params["id"] == "trips" %>"><a href="<%= page_path("trips") %>">Trips</a></li>
        <li class=" <%= 'active' if params["id"] == "expeditions" %>"><a href="<%= page_path("expeditions") %>">Summer Expeditions</a></li>
        <li class=" <%= 'active' if params["id"] == "climbing" %>"><a href="<%= page_path("climbing") %>">Climbing</a></li>
        <li class=" <%= 'active' if params["id"] == "socials" %>"><a href="<%= page_path("socials") %>">Socials</a></li>
	<li class=" <%= 'active' if params["id"] == "calendar" %>"><a href="<%= page_path("calendar") %>">Calendar</a></li>
        <li class=" <%= 'active' if params["id"] == "useful_info" %>"><a href="<%= page_path("useful_info") %>">Useful Information</a></li>
	<li class=" <%= 'active' if params["id"] == "photos" %>"><a href="<%= page_path("photos") %>">Photos</a></li>
	<li><a href="https://www.facebook.com/groups/2202694095/">Forum</a></li>
	<li><a href="https://www.facebook.com/bristolexpeditions?fref=ts">Follow Us</a></li>

	
	
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
